extends ./parts/layout
include ./parts/mixins_item

block body
  section
    header.category-header
      h1= name
    section.item-list
      each item in items
        article.item-list__item
          +item(item)
