extends ../parts/layout

block body
	header
		a(href="/user/account/previous-orders") Previous orders
	section.item-list
		each item in items
			article.item-list__item
				a(href="/item/" + item._id)
					h2= item.name
					img(class="item-list__item-image" src="/item/" + item._id + "/image/" + item.image)
					div Price: #{item.price}
					div Stock: #{item.stock}
					div
						a(href="/item/" + item._id + "/edit") Edit item
					div
						form(action="/item/" + item._id + "?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure?');")
							button(type="submit") Delete item
