if errors
  section
    h2 Errors
    each error in errors
      div
        span=error.status + ": "
        span=error.message
if infos && infos.length > 0
  section
    h2 Flash Info
    each info in infos
      div=info
if successes && successes.length > 0
  section
    h2 Flash Success
    each success in successes
      div=success
